@import "tailwindcss";

/* @theme {
} */

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
    @apply text-sm font-normal leading-[150%];
    @variant md {
      @apply text-[0.9375rem];
    }
    @variant lg {
      @apply text-base;
    }
  }

  h1 {
    @apply text-4xl font-bold leading-[110%];
    @variant md {
      @apply text-6xl;
    }

    @variant lg {
      @apply text-7xl;
    }
  }

  h2.subtitle {
    @apply text-lg font-medium leading-[140%];

    @variant md {
      @apply text-xl;
    }

    @variant lg {
      @apply text-2xl;
    }
  }

  h2 {
    @apply text-xl font-bold leading-[120%] tracking-[1px] uppercase;

    @variant md {
      @apply text-2xl tracking-[1.5px];
    }

    @variant lg {
      @apply text-3xl;
    }
  }

  h3.eyebrow {
    @apply text-xs font-semibold leading-[120%] tracking-[2px] uppercase;

    @variant md {
      @apply text-[0.825rem];
    }

    @variant lg {
      @apply text-sm tracking-[3px];
    }
  }

  h3 {
    @apply text-lg font-semibold leading-[130%];

    @variant md {
      @apply text-xl;
    }

    @variant lg {
      @apply text-[1.375rem];
    }
  }

  h4 {
    @apply text-base font-semibold leading-[130%];
    @variant md {
      @apply text-lg;
    }
    @variant lg {
      @apply text-xl;
    }
  }

  p.body-large {
    @apply text-base md:text-[1.0625rem] lg:text-lg;
  }
}
