@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --color-text-primary: #f3f3f3;
  --color-text-secondary: rgba(243, 243, 243, 0.75);
  --color-text-tertiary: rgba(243, 243, 243, 0.55);
  --color-background: #101623;
  --color-surface-primary: #202c46;
  --color-surface-secondary: #304269;
  --color-accent-primary: #ed855d;
  --color-accent-secondary: #07a0c3;
}

@layer base {
  *:focus-visible {
    outline: 2px solid var(--color-accent-primary);
    outline-offset: 4px;
    border: none;
  }
  body {
    @apply bg-background font-montserrat text-sm text-text-primary font-normal leading-[150%];
    @variant md {
      @apply text-[0.9375rem];
    }
    @variant lg {
      @apply text-base;
    }
  }

  h1 {
    @apply text-4xl font-bold leading-[110%];
    @variant md {
      @apply text-6xl;
    }

    @variant lg {
      @apply text-7xl;
    }
  }

  h2.subtitle {
    @apply text-lg font-medium leading-[140%];

    @variant md {
      @apply text-xl;
    }

    @variant lg {
      @apply text-2xl;
    }
  }

  h2 {
    @apply text-xl font-bold leading-[120%] tracking-[1px] uppercase;

    @variant md {
      @apply text-2xl tracking-[1.5px];
    }

    @variant lg {
      @apply text-3xl;
    }
  }

  h3.eyebrow {
    @apply text-xs font-semibold leading-[120%] tracking-[2px] uppercase;

    @variant md {
      @apply text-[0.825rem];
    }

    @variant lg {
      @apply text-sm tracking-[3px];
    }
  }

  h3 {
    @apply text-lg font-semibold leading-[130%];

    @variant md {
      @apply text-xl;
    }

    @variant lg {
      @apply text-[1.375rem];
    }
  }

  h4 {
    @apply text-base font-semibold leading-[130%];
    @variant md {
      @apply text-lg;
    }
    @variant lg {
      @apply text-xl;
    }
  }

  p.body-large {
    @apply text-base md:text-[1.0625rem] lg:text-lg;
  }
}

@layer utilities {
  .container {
    @apply w-[90%] md:w-[85%] max-w-7xl mx-auto;
  }
}

/* HEADER */

.nav__item {
  @apply text-sm font-medium leading-[120%] lg:text-base px-3 py-2 lg:px-4 lg:py-2 border-2 border-background relative transition-all duration-300 cursor-pointer hover:border-accent-primary;
}

.nav__item .corner {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-color: var(--color-accent-primary);
  border-style: solid;
}

.nav__item.active .corner {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-color: var(--color-accent-primary);
  border-style: solid;
}

.nav__item.active .corner--tr {
  top: -2px;
  right: -2px;
  border-width: 2px 2px 0 0;
}
.nav__item.active .corner--tl {
  top: -2px;
  left: -2px;
  border-width: 2px 0 0 2px;
}
.nav__item.active .corner--br {
  bottom: -2px;
  right: -2px;
  border-width: 0 2px 2px 0;
}
.nav__item.active .corner--bl {
  bottom: -2px;
  left: -2px;
  border-width: 0 0 2px 2px;
}
